<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col mt-4">
          <h1>{{title}}</h1>
          <table class="table table-bordered" >
            <thead style="background-color:#f47e8e;">
              <th>ID</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Borrar</th>
              <th>Seleccionar</th>
            </thead>
            <tbody>
              <tr *ngFor="let articulos of inventario">
                <td>{{articulos.id}}</td>
                <td>{{articulos.nombre}}</td>
                <td>{{articulos.precio}}</td>
                <td><button class="btn btn-outline-danger" (click)="eliminar(articulos.id)">Borrar</button></td>
                <td><button class="btn btn-outline-success" (click)="seleccionar(articulos)" >Seleccionar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- formulario -->  
      <hr>
      
        <div class="row">
          <div class="col">
              <label for="id">ID: </label>
              <br>
              <input type="number" class="form-control"  [(ngModel)]="formulario.id" required>
              <br>
              <label for="nombre">Nombre: </label>
              <br>
              <input type="text" class="form-control"  [(ngModel)]="formulario.nombre"required>
      
              <br>
              <label for="precio">Precio:  </label>
              <br>
              <input type="number" class="form-control"  [(ngModel)]="formulario.precio" required>
              <br>
              <br>
              <button  class="btn btn-success" (click)="agregar()">Agregar</button>
            <br>
          </div>
        </div>
      <br>
      <button class="btn btn-info" (click)="editar()">Actualizar</button>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
